* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background: #29292b;
    
  }



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  li:last-child {
    border-right: none;
  }

  /* Header/Blog Title */
  .header {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background: black;
    color: #fff;
    font-family: 'Bowlby One SC', cursive;

  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */

  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  


  .aboutMeCard {
    height: 200%;
    text-align: center;
    background-color: white;
  }

  img {
    max-width: 100%;
    height: auto;
    
  }
 


  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 100%;
      padding: 0;
    }
  }

  #more {display: none;}